{% extends "./header.html" %}

{% block content %}
<div class="container mt-5 text-center">
    <section class="hero-section py-5">
        <div class="container">
            <h1 class="display-4">Welcome to CookingBook</h1>
            <p class="lead">Discover, Share, and Save Your Favorite Recipes</p>
            {% if user.is_authenticated %}
                <a href="{% url 'create-recipe' %}" class="btn btn-primary btn-lg mt-3">Share Your Recipe</a>
            {% else %}
                <a href="{% url 'login' %}?next={% url 'create-recipe' %}" class="btn btn-primary btn-lg mt-3">Share Your Recipe</a>
            {% endif %}
        </div>
    </section>

    <form method="GET" action="{% url 'searchRecipes' %}" class="search-form my-5">
        <div class="input-group">
            <input type="text" class="form-control form-control-lg" name="q" placeholder="Search by title, cuisine, or dietary restrictions">
            <button type="submit" class="btn btn-outline-secondary btn-lg">Search</button>
        </div>
    </form>

    <section class="features py-5">
        <div class="container">
            <h2 class="mb-4">Why Use CookingBook?</h2>
            <div class="row">
                <div class="col-md-4 feature">
                    <i class="bi bi-book-half" style="font-size: 2rem;"></i>
                    <h4 class="mt-3">Discover New Recipes</h4>
                    <p>Explore a wide variety of recipes from different cuisines and dietary preferences.</p>
                </div>
                <div class="col-md-4 feature">
                    <i class="bi bi-pencil" style="font-size: 2rem;"></i>
                    <h4 class="mt-3">Share Your Creations</h4>
                    <p>Share your own recipes with the community and gain feedback from other cooking enthusiasts.</p>
                </div>
                <div class="col-md-4 feature">
                    <i class="bi bi-heart" style="font-size: 2rem;"></i>
                    <h4 class="mt-3">Save Your Favorites</h4>
                    <p>Create a personalized collection of your favorite recipes to access anytime.</p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
